@charset  "UTF-8";

body {
	font-size: 16px;
	color: #333;
}

body, h1, h2, h3, h4, h5, h6, p {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

h1 {
	font-size: 30px;
	color: black;
}

h2 {
	font-size: 24px;
}

a {
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

input,
textarea {
	background: #fcfcfc;
}

button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
	background: #f49141;
	border: 0;
}

button:hover,
button:focus,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus {
	background: #ed6a31;
}

.row {
	padding: 0 20px;
}

.row-gray {
	background: #eee url("https://kansai.wordcamp.org/2015/files/2015/05/bg-graystripe.png");
	padding: 0 20px;
}

.row:after,
.row:before,
.row-gray:before,
.row-gray:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
}

.inner {
	max-width: 960px;
	margin: auto;
}

.site {
	max-width: none;
	border: 0;
}

.home .entry-content {
	max-width: none;
}

.site-header {
	background-color: #f4c841;
}

.site-title {
	font-size: 30px;
	font-family: "Titillium Web", sans-serif;
	line-height: 1.25;
	padding: 10px 0;
	letter-spacing: .03em;
}

.site-header .site-title:hover {
	text-decoration: none;
}

.site-description {
	display: none;
}

.site-header .home-link {
	min-height: 0;
	max-width: 1000px;
}

.site-footer {
	background-color: white;
}

.site-footer .widget-area {
	padding: 0;
}

.site-info {
	background: #f4c841;
	font-size: 12px;
	max-width: none;
	padding: 12px 0;
}

.site-info > a {
	color: white;
	text-decoration: none;
}

.site-info > a:visited {
	color: white;
}

.site-info > a:hover {
	color: white;
}

div#navbar {
	display: none;
}

.entry-content blockquote {
	font-size: 16px;
}

.hentry {
	padding-left: 40px;
	padding-right: 40px;
}

.entry-header, .entry-content, .entry-summary, .entry-meta {
	max-width: 960px;
}

.entry-title {
	font-weight: bold;
}

.entry-thumbnail {
	display: none;
}

.entry-content {
	width: 100%;
	max-width: 960px;
}

.widget .widget-title {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.contact-form input[type="email"], .contact-form input[type="text"] {
	max-width: 100%;
}

/*
================================================================================
	Teaser
================================================================================
*/
.home.page-id-177 .hentry {
	padding: 0;
}

.home.page-id-177 .hentry .entry-header {
	display: none;
}

.home .entry-content {
	margin: 0 auto;
	max-width: 100%;
	width: 100%;
}

.teaser-photo {
	text-align: center;
}

.teaser-about {
	border: 5px solid #f4c841;
	max-width: 960px;
	margin: auto;
	overflow: hidden;
}

.teaser-about > h2 {
	background-color: #f4c841;
	color: #fff;
	font-size: 24px;
	text-align: center;
	line-height: 130px;
	width: 210px;
	height: 130px;
	margin: 0;
	float: left;
	border: 1px solid #fff;
}

.teaser-about > dl {
	overflow: hidden;
	border-left: 5px solid #f4c841;
	padding: 20px 36px 1000px;
	margin: 0 0 -1000px;
}

.teaser-about > dl > dt {
	clear: both;
	float: left;
}

.teaser-about > dl > dd {
	margin: 0 0 .5em 6em;
}

.teaser-sns {
	font-size: 14px;
	text-align: right;
	margin-top: 1em;
}

.sns-label {
	vertical-align: -3px;
	margin-right: 1em;
}

.teaser-mail {
	background-color: #fff;
	text-align: center;
	max-width: 960px;
	margin: 20px auto;
	padding: 30px;
}

.teaser-mail > h2 {
	display: inline-block;
	margin: 0;
	line-height: 32px;
	text-align: center;
	position: relative;
	z-index: 10;
	background: #fff;
	padding: 0 1em;
}

.teaser-mail > h2 + hr {
	border-bottom: 3px solid #f4c841;
	position: relative;
	top: -16px;
}

.teaser-mail form {
	text-align: left;
}

.teaser-mail label.email {
	float: left;
	line-height: 25px;
	padding: 7px 0;
	width: 200px;
}

.teaser-mail input.email {
	width: 700px;
	margin-bottom: 30px;
}

.teaser-mail .pushbutton-wide {
	width: 100%;
}

.teaser-content {
	max-width: 960px;
	margin: auto;
}

.teaser-content-inner {
	margin: 0 -20px;
	overflow: hidden;
}

.teaser-content-inner > article {
	width: 460px;
	margin: 20px;
	border: 5px solid #f4c841;
	padding: 5px 25px;
	float: left;
	min-height: 360px;
	max-width: 960px;
}

.teaser-content-inner > article:first-child {
	width: 100%;
	min-height: 0;
}

.teaser-content-inner > article h2 a {
	color: inherit;
}

#secondary.sidebar-container .widget-area.masonry {
	margin: 50px auto;
	max-width: 960px;
	height: auto !important;
}

#secondary.sidebar-container .widget {
	position: relative !important;
	left: auto !important;
	top: auto !important;
	-webkit-transform: none !important;
	-ms-transform: none !important;
	transform: none !important;
	background: #fff;
	width: 460px;
	margin: 0;
	float: left;
	border: 1px solid #ccc;
}

#secondary.sidebar-container .widget_facebook_likebox,
#secondary.sidebar-container .widget_twitter_timeline {
	padding-top: 40px;
}

#secondary.sidebar-container .widget_facebook_likebox {
	margin-right: 20px;
}

#secondary.sidebar-container .widget_twitter_timeline {
	margin-left: 20px;
}

#secondary.sidebar-container .widget_facebook_likebox .widget-title,
#secondary.sidebar-container .widget_twitter_timeline .widget-title {
	background: #3c3c3c;
	color: #fff;
	font-size: 14px;
	line-height: 40px;
	font-style: normal;
	text-align: center;
	width: 220px;
	margin-left: -110px;
	border-radius: 4px;
	border-left-width: 15px;
	border-left-style: solid;
	position: absolute;
	top: -20px;
	left: 50% !important;
}

#secondary.sidebar-container .widget_facebook_likebox .widget-title {
	border-left-color: #3b5998;
}

#secondary.sidebar-container .widget_twitter_timeline .widget-title {
	border-left-color: #55acee;
}

#secondary.sidebar-container {
	background: #eee url("https://kansai.wordcamp.org/2015/files/2015/05/bg-graystripe.png");
	padding: 0 20px;
}

#secondary.sidebar-container:before,
#secondary.sidebar-container:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
}

.page-id-177 .widget-area.masonry {
	min-height: 500px;
}

#secondary.sidebar-container #text-2,
#secondary.sidebar-container #text-4 {
	width: 100%;
	margin-top: 40px;
	text-align: center;
}

#secondary.sidebar-container #text-2 .widget-title,
#secondary.sidebar-container #text-2 .textwidget,
#secondary.sidebar-container #text-4 .widget-title,
#secondary.sidebar-container #text-4 .textwidget {
	color: #333;
	font-style: normal;
	font-size: 16px;
	margin: 0 1em;
}

#secondary.sidebar-container #text-4 .widget-title, #secondary.sidebar-container #text-4 .textwidget {
	display: inline-block;
}

#secondary.sidebar-container > #text-2 > .sponsor-head {
	width: 100%;
}

#twitter-widget-0 {
	height: 410px;
	overflow: auto;
}

.sponsor-banner-img {
	padding-left: auto;
	padding-right: auto;
}

@media (max-width: 1000px) {
	.teaser-mail input.email {
		width: 100%;
	}

	.teaser-content-inner {
		margin: 0;
	}

	.teaser-content-inner > article {
		float: none;
		margin-left: 0;
		margin-right: 0;
		width: auto;
		min-height: 0;
	}

	#secondary.sidebar-container .widget-area.masonry {
		margin: 0;
	}

	#secondary.sidebar-container .widget {
		float: none;
		margin: 40px auto;
	}
}

@media (max-width: 800px) {
	.teaser-about > h2 {
		float: none;
		width: auto;
		line-height: 2em;
		height: auto;
	}

	.teaser-about > dl {
		border-left: 0;
		border-top: 5px solid #f4c841;
		padding: 1em;
		margin-bottom: 0;
	}
}

@media (max-width: 643px) {
	#content .entry-header,
			#content .entry-content,
			#content .entry-summary,
			#content footer.entry-meta,
			#content .featured-gallery,
			.search.sidebar .page-content,
			.blog.sidebar .page-content,
			.sidebar .post-navigation .nav-links,
			.paging-navigation .nav-links,
			#content .author-info,
			.comments-area .comments-title,
			.comments-area .comment-list,
			.comments-area .comment-navigation,
			.comment-respond,
			.sidebar .site-info,
			.sidebar .paging-navigation .nav-links {
		padding: 0;
	}
}

@media (max-width: 500px) {
	.hentry {
		padding-left: 20px;
		padding-right: 20px;
	}

	.site-title {
		font-size: 24px;
		font-weight: bold;
	}

	.teaser-about > dl > dt {
		float: none;
	}

	.teaser-about > dl > dd {
		margin-left: 0;
	}

	.teaser-mail {
		padding-left: 20px;
		padding-right: 20px;
	}

	.teaser-mail a {
		display: block;
	}

	.teaser-content-inner > article {
		padding: 0 20px;
	}

	#secondary.sidebar-container .widget {
		width: auto;
	}

	#secondary.sidebar-container > #text-2 > .sponsor-head {
		width: 100%;
	}
}