@charset  "UTF-8";

body {
	font-size: 14px;
	color: #333333;
	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

button, input, textarea {
}

input:focus,
textarea:focus {
	border-color: #17af92;
}

button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
	background: #17af92;
	border-bottom: none;
}

button:hover,
button:focus,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus {
	background: #17af92;
}

button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active {
	background: #34495e;
	border-top: none;
}

table th {
	background: #ffeca2;
}

.navigation a, .entry-content a, .comment-respond a, .widget_categories a {
	color: #212121;
}

.navigation a:hover, .entry-content a:hover, .comment-respond a:hover, .widget_categories a:hover {
	color: #212121;
}

.navigation a {
	text-decoration: none;
}

.navigation a:hover {
	text-decoration: underline;
}

.entry-content a {
	color: #17af92;
}

.entry-content a, .comment-respond a {
	text-decoration: underline;
}

.entry-content a:hover, .comment-respond a:hover {
	text-decoration: none;
}

.entry-thumbnail {
	display: none;
}

.block-left {
	float: left;
}

.block-right {
	float: right;
}

.clfix, #secondary, .site-main {
}

.clfix:after, #secondary:after, .site-main:after {
	content: "";
	display: table;
	clear: both;
}

.inblock-list, .wcorg-organizers, .sponsor-level, .tix-attendee-list {
	width: 100%;
	word-spacing: -1em;
	display: table;
	display: block9;
	padding-left: 0 !important;
	margin: 0;
}

.inblock-list li, .inblock-list .wcorg-organizer, .inblock-list .sponsor-logo, .wcorg-organizers li, .wcorg-organizers .wcorg-organizer, .wcorg-organizers .sponsor-logo, .sponsor-level li, .sponsor-level .wcorg-organizer, .sponsor-level .sponsor-logo, .tix-attendee-list li, .tix-attendee-list .wcorg-organizer, .tix-attendee-list .sponsor-logo {
	word-spacing: normal;
	display: inline-block;
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.site-main {
	max-width: 1080px;
	margin: 0 auto;
}

@media (max-width: 1069px) {
	.site-main {
		max-width: 960px;
	}
}

@media (max-width: 999px) {
	.site-main {
		max-width: none;
		padding: 0 20px;
	}
}

.site-main #primary {
	width: 730px;
	float: left;
	padding-top: 40px;
}

@media (max-width: 1069px) {
	.site-main #primary {
		width: 604px;
	}
}

@media (max-width: 999px) {
	.site-main #primary {
		width: auto;
		float: none;
	}
}

.site-main #primary .hentry {
	padding-top: 0;
}

.site-main #tertiary {
	width: 300px;
	height: auto;
	float: right;
	position: static;
	padding-top: 40px;
}

@media (max-width: 999px) {
	.site-main #tertiary {
		width: 100%;
		float: none;
	}
}

@media (max-width: 1069px) {
	.site-main .widget-area {
		margin-right: 0;
	}
}

.alpha:hover img {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity: .7;
}

.navbar {
	background: #f9d132;
	max-width: none;
	padding: 8px 0;
}

.navbar .main-navigation {
	min-height: 0;
}

.navbar .nav-menu {
	padding: 0;
	text-align: center;
	font-weight: bold;
}

@media (max-width: 643px) {
	.navbar .nav-menu {
		text-align: left;
	}
}


.navbar .nav-menu li:hover a {
	background: #17af92;
}

.navbar .nav-menu li a {
	color: #096553;
	text-shadow: rgba(52,73,94,0.4) 0 1px 0;
	-webkit-transition-property: color;
	-moz-transition-property: color;
	-o-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: .2s;
	-moz-transition-duration: .2s;
	-o-transition-duration: .2s;
	transition-duration: .2s;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-timing-function: ease-in-out;
	-o-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	padding: 10px 20px;
}

@media (max-width: 767px) {
	.navbar .nav-menu li a {
		padding: 15px 10px;
	}
}

@media (max-width: 643px) {
	.navbar .nav-menu li a {
		padding: 15px 20px;
	}
}

.navbar .nav-menu li a:hover {
	color: rgba(255,255,255,0.7);
	text-decoration: none;
}

.navbar .nav-menu li .sub-menu {
	background: #5CB7CC;
}

.navbar .nav-menu li .sub-menu a {
	background: #5CB7CC;
	padding: 15px 20px;
}

.navbar .nav-menu li .current_page_ancestor > a {
	font-style: normal;
}

.navbar .nav-menu li.current-menu-item a, .navbar .nav-menu li.current-menu-parent a {
	font-style: normal;
	color: #34495e;
	text-shadow: rgba(255,255,255,0.4) 0 1px 0;
}

.navbar .nav-menu li.current-menu-item a:hover, .navbar .nav-menu li.current-menu-parent a:hover {
	color: #34495e;
	text-shadow: rgba(255,255,255,0.4) 0 1px 0;
}

.navbar .nav-menu li.current-menu-item .sub-menu a, .navbar .nav-menu li.current-menu-parent .sub-menu a {
	color: #FFF;
	text-shadow: rgba(52,73,94,0.4) 0 1px 0;
	padding: 15px 20px;
}

.navbar .nav-menu li.current-menu-item .sub-menu a:hover, .navbar .nav-menu li.current-menu-parent .sub-menu a:hover {
	color: rgba(255,255,255,0.7);
	text-decoration: none;
}

.navbar .nav-menu li#menu-item-476652 .sub-menu, .navbar .nav-menu li#menu-item-476477 .sub-menu, .navbar .nav-menu li#menu-item-383950 .sub-menu {
	background: #357599;
}

.navbar .nav-menu li#menu-item-476652 a, .navbar .nav-menu li#menu-item-476477 a, .navbar .nav-menu li#menu-item-383950 a {
	background: #357599;
}

.navbar .nav-menu li#menu-item-476652 a:hover, .navbar .nav-menu li#menu-item-476477 a:hover, .navbar .nav-menu li#menu-item-383950 a:hover {
	background: #357599;
}

.navbar .nav-menu li#menu-item-476652.current-menu-item > a, .navbar .nav-menu li#menu-item-476652.current-menu-ancestor > a, .navbar .nav-menu li#menu-item-476477.current-menu-item > a, .navbar .nav-menu li#menu-item-476477.current-menu-ancestor > a, .navbar .nav-menu li#menu-item-383950.current-menu-item > a, .navbar .nav-menu li#menu-item-383950.current-menu-ancestor > a {
	color: rgba(255,255,255,0.8);
}

.navbar .nav-menu li#menu-item-476652.current-menu-item > a:hover, .navbar .nav-menu li#menu-item-476652.current-menu-ancestor > a:hover, .navbar .nav-menu li#menu-item-476477.current-menu-item > a:hover, .navbar .nav-menu li#menu-item-476477.current-menu-ancestor > a:hover, .navbar .nav-menu li#menu-item-383950.current-menu-item > a:hover, .navbar .nav-menu li#menu-item-383950.current-menu-ancestor > a:hover {
	color: rgba(255,255,255,0.8);
}

.navbar .nav-menu li#menu-item-476652.current-menu-parent .current-menu-item a, .navbar .nav-menu li#menu-item-476477.current-menu-parent .current-menu-item a, .navbar .nav-menu li#menu-item-383950.current-menu-parent .current-menu-item a {
	color: rgba(255,255,255,0.8);
}

.navbar .nav-menu li#menu-item-476652.current-menu-parent .current-menu-item a:hover, .navbar .nav-menu li#menu-item-476477.current-menu-parent .current-menu-item a:hover, .navbar .nav-menu li#menu-item-383950.current-menu-parent .current-menu-item a:hover {
	color: rgba(255,255,255,0.8);
}

.navbar .toggled-on li:hover a {
	color: #FFF;
}

.navbar .toggled-on li:hover a:hover {
	color: rgba(255,255,255,0.7);
}

.navbar .toggled-on li.current-menu-item a {
	color: #ffeca2;
}

.navbar .toggled-on li.current-menu-item a:hover {
	color: #ffeca2;
}

.navbar .toggled-on li .sub-menu {
	border: none;
	margin-left: 0;
}

.navbar .toggled-on li .sub-menu a {
	color: #FFF;
	background: #7eb4cc;
}

.navbar .toggled-on li .sub-menu a:hover {
	color: rgba(255,255,255,0.7);
}

.navbar .search-form {
	display: none;
}

.comment-respond {
	background: #ffeca2;
}

.site-footer {
	background: #f9d132;
}
.site-footer .widget-title{
	color: #000;
}

.site-footer a {
	color: #212121;
}

.site-footer .site-info {
	text-align: center;
	background: #f9d132;
}

.googlemaps small {
	display: none;
}

/*-------------------------------------*/
/* ENTRY */
/*-------------------------------------*/
.sidebar .entry-header, .sidebar .entry-content, .sidebar .entry-summary, .sidebar .entry-meta, .sidebar .post-navigation .nav-links {
	padding: 0 !important;
}

.post-navigation {
	font-size: 14px;
}

.entry-header {
	margin-bottom: 30px;
}

.entry-title {
	color: #212121;
	font-size: 36px;
	font-weight: bold;
}

.entry-title a {
	color: #212121;
}

.entry-title a:hover {
	color: #212121;
}

.entry-meta a {
	color: #666;
}

.entry-meta a:hover {
	color: #999;
}

.entry-meta .author {
	display: inline !important;
}

.entry-meta .featured-post {
	display: none;
}

.archive-header, .archive-title {
	background: none;
	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	font-size: 24px;
	color: #17af92;
}

.archive-title {
	padding: 0 0 60px;
}

.entry-content {
	line-height: 1.8em;
}

.entry-content img.alignleft,
.entry-content .wp-caption.alignleft {
	margin-left: 0;
}

.entry-content img.alignright,
.entry-content .wp-caption.alignright {
	margin-right: 0;
}

.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6, .entry-content p, .entry-content ul, .entry-content div {
	margin-top: 0;
	margin-bottom: 20px;
}

.entry-content .clear-form, .entry-content form div {
	margin-bottom: 0;
}

.entry-content h1, .entry-content h2, .entry-content h3 {
	padding-bottom: 5px;
}

.entry-content h1, .entry-content h2 {
	color: #17af92;
	border-bottom: 2px solid #f9d132;
}

.entry-content h2, .entry-content h3, .entry-content h4 {
	margin: 40px 0 10px;
}

.entry-content h2:first-child, .entry-content h3:first-child, .entry-content h4:first-child {
	margin-top: 0;
}

.entry-content h1 {
	font-size: 26px;
	border-top: 4px solid #f9d132;
	border-bottom: 4px solid #f9d132;
	padding: 10px 0;
}

.entry-content h2 {
	font-size: 24px;
	color: #212121;
}

.entry-content h3, .entry-content h4 {
	color: #212121;
	margin: 40px 0 10px;
}

.entry-content h2 + .entry-content h3,
.entry-content h3 + .entry-content h4 {
	margin-top: 0;
}

.entry-content h3 {
	font-size: 18px;
}

.entry-content h4 {
	font-size: 16px;
}

.entry-content dl {
	margin: 0;
}

.entry-content dl dt {
	margin-bottom: 5px;
}

.entry-content dl dd {
	padding-left: 40px;
}

.entry-content ul {
	padding-left: 1.2em;
}

.entry-content blockquote {
	font-style: normal;
	font-size: 14px;
	background: #e7e7e7;
	margin: 0 0 10px;
	padding: 10px;
	position: relative;
}

.entry-content blockquote:before {
	content: '\f106';
	font-size: 50px;
	font-family: 'Genericons';
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	color: #F7FBFC;
}

.entry-content blockquote * {
	margin-bottom: 0;
	position: relative;
	z-index: 10;
}

.entry-content .sharedaddy .sd-block {
	margin-top: 20px;
}

.btn a, .mini-btn a {
	display: inline-block;
	color: #FFF;
	text-decoration: none;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-duration: .2s;
	-moz-transition-duration: .2s;
	-o-transition-duration: .2s;
	transition-duration: .2s;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-timing-function: ease-in-out;
	-o-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.btn a:hover, .mini-btn a:hover {
	color: #FFF;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity: .7;
}

.btn {
	text-align: center;
}

.btn a {
	background: #17af92;
	padding: 10px 50px;
}

.single-wcb_session .btn {
	font-size: 80%;
	margin-top: 80px;
}

.mini-btn a {
	background: #72b6ce;
	padding: 5px 20px;
}

.archive .hentry, .home .hentry {
	padding: 40px 0 120px;
}

.hentry#post-476476, .hentry#post-478151 {
	padding: 40px 0;
}

.paging-navigation {
	background: none;
}

.paging-navigation a .meta-nav {
	background: #17af92;
}

.paging-navigation a:hover .meta-nav {
	background: #17af92;
}

.img-caption {
	font-size: 80%;
}

#tertiary .widget {
	background: none;
	padding: 0;
	width: 240px;
}

.widget .btn a {
	display: block;
}

.widget .btn a:hover {
	color: #FFF;
}

.widget li {
	border-bottom: 1px solid #f9d132;
	background: url(https://kansai.wordcamp.org/2015/files/2015/05/list-arrow.png) no-repeat right center;
	padding-right: 28px;
}

#secondary .widget {
	position: static !important;
	width: 100%;
}

#tertiary .widget {
	margin-bottom: 60px;
}

.widget .widget-title {
	display: none;
	color: #17af92;
	font-style: normal;
	font-size: 24px;
	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	font-weight: bold;
}

#tertiary .widget .widget-title {
	font-weight: bold;
}

#secondary .widget .widget-title {
	display: block;
	margin-bottom: 30px;
}

#secondary {
	margin-top: 40px;
	background: #FFF;
	border-top: 3px solid #e7e7e7;
}
#secondary aside{
	position: relative;
}



#secondary .widget-area {
	max-width: 960px;
	margin: 0 auto;
	height: auto !important;
	padding: 0;
	left: 0;
	text-align: center;
}

@media (max-width: 999px) {
	#secondary .widget-area {
		max-width: none;
		padding: 0 20px;
	}
}

#secondary .wcb_widget_sponsors {
	width: 100%;
}

#secondary .wcb_widget_sponsors .sponsor-logo {
	vertical-align: middle;
}

#secondary .wcb_widget_sponsors .sponsor-level-title {
	margin-top: 0;
	margin-bottom: 30px;
	font-weight: normal;
	font-size: 14px;
	color: #17af92;
	border-bottom: 1px solid #72b6ce;
	padding-bottom: 3px;
}

#secondary .wcb_widget_sponsors .sponsor-level {
	padding-bottom: 20px;
}

@media (max-width: 643px) {
	#secondary .wcb_widget_sponsors .sponsor-level {
		display: block;
	}
}

#secondary .wcb_widget_sponsors .sponsor-level .sponsor-logo {
	width: 30%;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
}

@media (max-width: 643px) {
	#secondary .wcb_widget_sponsors .sponsor-level .sponsor-logo {
		margin-right: 0;
		width: 100%;
	}
}

#secondary .wcb_widget_sponsors .sponsor-level.bronze .sponsor-logo {
	width: 20%;
}

@media (max-width: 643px) {
	#secondary .wcb_widget_sponsors .sponsor-level.bronze .sponsor-logo {
		width: 50%;
	}
}

#text-2 .widget-title, #categories-2 .widget-title, #text-3 .widget-title, #text-5 .widget-title, #text-6 .widget-title {
	display: block;
	font-size: 20px;
	padding-bottom: 10px;
	color: #212121;
	font-style: normal;
}

#text-2 .textwidget p, #categories-2 .textwidget p, #text-3 .textwidget p, #text-5 .textwidget p, #text-6 .textwidget p {
	margin-bottom: 5px;
}

#text-4 .btn {
	font-size: 100%;
	margin-top: 0;
}

.cat-item li a {
	padding: 15px 30px 15px 0;
	border-bottom: 1px solid #f9d132;
	background: url(https://kansai.wordcamp.org/2015/files/2015/05/list-arrow.png) no-repeat;
}

.ogp {
	display: none;
}

/*-------------------------------------*/
/* MAINVISUAL */
/*-------------------------------------*/
.site {
	border: none;
	background: none;
	max-width: none;
}

#masthead .home-link {
	max-width: none;
	min-height: inherit;
	min-height: auto;
	padding: 0;
	height: 315px;
	background: #b3f4d3 url(https://kansai.wordcamp.org/2015/files/2015/05/bg-sub.png) no-repeat center top;
	-webkit-background-size: auto 100%;
	-moz-background-size: auto 100%;
	-o-background-size: auto 100%;
	background-size: auto 100%;
	text-indent: -9999px;
}

@media (max-width: 999px) {
	#masthead .home-link {
	}
}

@media (max-width: 643px) {
	#masthead .home-link {
		background-position: right top;
		height: 250px;
	}

}

@media (max-width: 359px) {
	#masthead .home-link {
		background-position: 0 0;
	}
}

#masthead .home-link h1 {
	width: 960px;
	height: 258px;
	background: url(https://kansai.wordcamp.org/2015/files/2015/05/logo.png) no-repeat center top;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	text-align: center;
	margin: 0 auto;
}

/*wapuu*/
.home #masthead .home-link h1:after {
  display: block;
  content: "";
  position: absolute;
  overflow: hidden;
  padding-top: 170px;
  width: 185px;
  height: 0;
  background-image: url("https://kansai.wordcamp.org/2015/files/2015/05/wapuu.png");
  background-position: 0 0;
  background-size: 100%;
  background-repeat: no-repeat;
  top: 40%;
  right: 4%;
  margin-top: -90px;
}


@media (max-width: 767px) {
	#masthead .home-link h1 {
	}
}

@media (max-width: 643px) {
	#masthead .home-link h1 {
	}
}

@media (max-width: 359px) {
	#masthead .home-link h1 {
	}
}

.home #masthead .home-link, .error404 #masthead .home-link {
	height: 618px;
	background: #b3f4d3 url(https://kansai.wordcamp.org/2015/files/2015/05/bg-main.png) no-repeat center top;
	-webkit-background-size: auto 100%;
	-moz-background-size: auto 100%;
	-o-background-size: auto 100%;
	background-size: auto 100%;
	text-indent: -9999px;
	position: relative;
}

@media (max-width: 767px) {
	.home #masthead .home-link, .error404 #masthead .home-link {
		-webkit-background-size: auto 100%;
		-moz-background-size: auto 100%;
		-o-background-size: auto 100%;
		background-size: auto 100%;
		height: 500px;
	}
}

@media (max-width: 643px) {
	.home #masthead .home-link, .error404 #masthead .home-link {
		height: 350px;
	}
}

@media (max-width: 359px) {
	.home #masthead .home-link, .error404 #masthead .home-link {
		height: 230px;
	}
}

@media (max-width: 767px) {
	.home #masthead .home-link h1, .error404 #masthead .home-link h1 {
		height: 200px;
	}
}

@media (max-width: 643px) {
	.home #masthead .home-link h1, .error404 #masthead .home-link h1 {
		height: 135px;
	}
}

@media (max-width: 359px) {
	.home #masthead .home-link h1, .error404 #masthead .home-link h1 {
		height: 90px;
	}
}

@media (max-width: 320px) {
	#page {
		width: 320px;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
	
	.site-main {
		padding: 0 10px;
	}
}

/*-------------------------------------*/
/* ONE COLUMN */
/*-------------------------------------*/
.page-id-6 .entry-header, .page-id-6 .entry-content, .page-id-6 .entry-meta, .page-id-6 #secondary .widget-area, .page-id-460743 .entry-header, .page-id-460743 .entry-content, .page-id-460743 .entry-meta, .page-id-460743 #secondary .widget-area, .page-id-476787 .entry-header, .page-id-476787 .entry-content, .page-id-476787 .entry-meta, .page-id-476787 #secondary .widget-area, .page-id-476754 .entry-header, .page-id-476754 .entry-content, .page-id-476754 .entry-meta, .page-id-476754 #secondary .widget-area {
	max-width: 1040px;
	padding: 0;
}

.page-id-6 #primary, .page-id-460743 #primary, .page-id-476787 #primary, .page-id-476754 #primary {
	width: auto;
}

.page-id-6 #secondary .widget-area, .page-id-460743 #secondary .widget-area, .page-id-476787 #secondary .widget-area, .page-id-476754 #secondary .widget-area {
	left: 0 !important;
}

@media (max-width: 643px) {
	.page-id-6 #secondary .widget-area, .page-id-460743 #secondary .widget-area, .page-id-476787 #secondary .widget-area, .page-id-476754 #secondary .widget-area {
		padding: 0 20px;
	}
}

.page-id-6 #tertiary, .page-id-460743 #tertiary, .page-id-476787 #tertiary, .page-id-476754 #tertiary {
	display: none;
}

/*-------------------------------------*/
/* ABOUT */
/*-------------------------------------*/
.post-327768 .event-outline dt, .post-400248 .event-outline dt {
	background: #F2F2F2;
	border-left: 3px solid #BFBFBF;
	padding: 3px 10px;
	font-weight: normal;
	margin-bottom: 10px;
}

.post-327768 .event-outline dd, .post-400248 .event-outline dd {
	padding-left: 13px;
}

.post-327768 .event-outline dd dt, .post-400248 .event-outline dd dt {
	background: none;
	border-left: none;
	padding: 0;
}

.post-327768 .event-outline dd dd, .post-400248 .event-outline dd dd {
	padding-left: 40px;
}

.post-327768 .btn, .post-400248 .btn {
	margin-top: 40px;
}

/*-------------------------------------*/
/* ORGANIZERS */
/*-------------------------------------*/
@media (max-width: 767px) {
	.page-id-6 .wcorg-organizers {
		display: block;
	}
}

.page-id-6 .wcorg-organizer {
	width: 280px;
	font-size: 13px;
	margin-right: 60px;
	margin-bottom: 60px;
	position: relative;
}

.page-id-6 .wcorg-organizer:nth-of-type(3n) {
	margin-right: 0;
}

@media (max-width: 1069px) {
	.page-id-6 .wcorg-organizer:nth-of-type(3n) {
		margin-right: 60px;
	}
}

@media (max-width: 999px) {
	.page-id-6 .wcorg-organizer:nth-of-type(3n) {
		margin-right: 60px;
	}
}

@media (max-width: 1069px) {
	.page-id-6 .wcorg-organizer {
		width: 26.5%;
	}
}

@media (max-width: 999px) {
	.page-id-6 .wcorg-organizer {
		width: 400px;
	}
	
	.page-id-6 .wcorg-organizer:nth-of-type(even) {
		margin-right: 0;
	}
}

@media (max-width: 960px) {
	.page-id-6 .wcorg-organizer {
		width: 45%;
	}
	
	.page-id-6 .wcorg-organizer:nth-of-type(3n) {
		margin-right: 60px;
	}
	
	.page-id-6 .wcorg-organizer:nth-of-type(even) {
		margin-right: 0;
	}
}

@media (max-width: 767px) {
	.page-id-6 .wcorg-organizer {
		width: 100%;
		margin-right: 0;
		display: block;
	}
}

.page-id-6 .wcorg-organizer .avatar {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
}

.page-id-6 .wcorg-organizer .avatar.avatar-default {
	display: none;
}

.page-id-6 .wcorg-organizer h2, .page-id-6 .wcorg-organizer p, .page-id-6 .wcorg-organizer .inblock-list {
	margin-bottom: 5px;
}

.page-id-6 .wcorg-organizer h2, .page-id-6 .wcorg-organizer .organizer-info {
	padding-left: 113px;
}

.page-id-6 .wcorg-organizer .organizer-info {
	min-height: 70px;
}

.page-id-6 .wcorg-organizer h2 {
	color: #333333;
	border-bottom: none;
	padding-bottom: 0;
	font-weight: normal;
}

.page-id-6 .wcorg-organizer .inblock-list li {
	margin-right: 10px;
}

.page-id-6 .wcorg-organizer .inblock-list a {
	color: #FFF;
	display: block;
	line-height: normal;
}

.page-id-6 .wcorg-organizer .inblock-list a span {
	width: auto;
	height: auto;
	vertical-align: top;
}

.page-id-6 .wcorg-organizer .inblock-list a span:before {
	font-size: 18px;
}

.page-id-6 .wcorg-organizer .twitter a {
	background: #00B1CE;
	padding: 2px;
}

.page-id-6 .wcorg-organizer .facebook a {
	color: #103F77;
}

.page-id-6 .wcorg-organizer .facebook a span:before {
	font-size: 27px;
}

.page-id-6 .wcorg-organizer .wcorg-organizer-description, .page-id-6 .wcorg-organizer .organizer-comment {
	margin-bottom: 0;
}

.page-id-6 .site {
	font-size: 12px;
}

/*-------------------------------------*/
/* ERROR */
/*-------------------------------------*/
.error404 .site-main {
	max-width: none;
}

@media (max-width: 999px) {
	.error404 .site-main {
		padding: 0;
	}
}

.error404 .site-main #primary {
	width: 100%;
}

.error404 .page-title:before {
	color: #ffeca2;
}

.error404 .page-wrapper {
	background: #ffeca2;
}

.error404 #secondary .widget-area {
	padding-left: 0;
}

@media (max-width: 999px) {
	.error404 #secondary .widget-area {
		padding: 0 20px;
		max-width: none;
	}
}

@media (max-width: 643px) {
	.error404 #secondary .widget-area {
		padding: 0 20px;
	}
}

/*-------------------------------------*/
/* SPONSORS */
/*-------------------------------------*/
.single-wcb_sponsor .entry-thumbnail {
	display: none;
}

.entry-content .sponsor-link-thumb {
	display: none;
}

.single-wcb_sponsor .entry-content .sponsor-link-thumb {
	display: block;
	text-align: center;
}

.entry-content .wcorg-sponsor-level-platinum .attachment-post-thumbnail, .entry-content .wcorg-sponsor-level-gold .attachment-post-thumbnail {
	max-width: 80%;
}

.entry-content .wcorg-sponsor-level-silver .attachment-post-thumbnail {
	max-width: 60%;
}

@media (max-width: 643px) {
	.entry-content .wcorg-sponsor-level-silver .attachment-post-thumbnail {
		max-width: 70%;
	}
}

.entry-content .wcorg-sponsor-level-bronze .attachment-post-thumbnail {
	max-width: 40%;
}

@media (max-width: 643px) {
	.entry-content .wcorg-sponsor-level-bronze .attachment-post-thumbnail {
		max-width: 60%;
	}
}

.entry-content .wcorg-sponsor .attachment-post-thumbnail {
	padding-bottom: 20px;
}

/*-------------------------------------*/
/* ATTENDEES */
/*-------------------------------------*/
.post-8 #tix-attendees .tix-attendee-list {
	padding-left: 0;
}

.post-8 #tix-attendees .tix-attendee-list li {
	height: auto;
	float: none;
}

@media (max-width: 643px) {
	.post-8 #tix-attendees .tix-attendee-list li {
		width: 50%;
	}
}

@media (max-width: 359px) {
	.post-8 #tix-attendees .tix-attendee-list li {
		width: 100%;
	}
}

.post-8 #tix-attendees .tix-attendee-list .tix-field {
	margin-right: 10px;
}

@media (max-width: 359px) {
	.post-8 #tix-attendees .tix-attendee-list .tix-field {
		margin-right: 0;
	}
}

/*-------------------------------------*/
/* SPONSORS */
/*-------------------------------------*/
.post-4 .wcorg-sponsor {
	margin-bottom: 60px;
}

/*-------------------------------------*/
/* SESSION */
/*-------------------------------------*/
.post-460743 .timetable, .post-476787 .timetable {
	border-bottom: none;
	margin-bottom: 20px;
}

.post-460743 .timetable thead tr:first-child th, .post-476787 .timetable thead tr:first-child th {
	background-color: #ffeca2;
	border: 1px solid #ddd;
	border-bottom: 4px solid #17af92;
	color: #fff;
	text-shadow: rgba(52,73,94,0.4) 0 1px 0;
}

.post-460743 .timetable thead tr:last-child th, .post-476787 .timetable thead tr:last-child th {
	background-color: #efefef;
	padding: 5px 0;
	font-weight: normal;
	font-size: 13px;
}

.post-460743 .timetable tbody tr th, .post-476787 .timetable tbody tr th {
	text-align: center;
	font-size: 12px;
	background-color: #efefef;
}

.post-460743 .timetable tr th, .post-476787 .timetable tr th {
	text-align: center;
}

.post-460743 .timetable tr th:first-child, .post-460743 .timetable tr td:first-child, .post-476787 .timetable tr th:first-child, .post-476787 .timetable tr td:first-child {
	width: 15%;
}

.post-460743 .timetable th, .post-460743 .timetable td, .post-476787 .timetable th, .post-476787 .timetable td {
	width: 21%;
	border: 1px solid #ddd;
	padding: 10px;
}

@media (max-width: 643px) {
	.post-460743 .timetable th, .post-460743 .timetable td, .post-476787 .timetable th, .post-476787 .timetable td {
		display: block;
		width: auto !important;
		border: none;
		padding: 0;
	}
}

.post-460743 .timetable td, .post-476787 .timetable td {
	vertical-align: top;
	width: 21%;
	border: 1px solid #ddd;
	padding: 10px;
}

.post-460743 .timetable td.soon, .post-476787 .timetable td.soon {
	background-color: #fff5fb;
}

.post-460743 .timetable td.rest, .post-476787 .timetable td.rest {
	text-align: center;
	background-color: #e7ffe5;
}

@media (max-width: 643px) {
	.post-460743 .timetable td.rest, .post-476787 .timetable td.rest {
		border-left: 0;
	}
}

.post-460743 .timetable td.none, .post-476787 .timetable td.none {
	text-align: center;
	background-color: #e0e0e0;
}

.post-460743 .timetable td.none:before, .post-476787 .timetable td.none:before {
	content: "-";
}

.post-460743 .timetable td.open, .post-476787 .timetable td.open {
	text-align: center;
}

.post-460743 .timetable dl, .post-476787 .timetable dl {
	line-height: 1.5;
}

.post-460743 .timetable dl dt, .post-460743 .timetable dl dd, .post-476787 .timetable dl dt, .post-476787 .timetable dl dd {
	margin-bottom: 0;
	padding-bottom: 10px;
}

.post-460743 .timetable dl dt:last-child, .post-460743 .timetable dl dd:last-child, .post-476787 .timetable dl dt:last-child, .post-476787 .timetable dl dd:last-child {
	padding-bottom: 0;
}

.post-460743 .timetable dl dt.time, .post-460743 .timetable dl dd.time, .post-476787 .timetable dl dt.time, .post-476787 .timetable dl dd.time {
	display: none;
}

.post-460743 .timetable dl dt, .post-476787 .timetable dl dt {
	font-size: 15px;
}

.post-460743 .timetable dl dt a, .post-476787 .timetable dl dt a {
	text-decoration: none;
	color: #17af92;
}

.post-460743 .timetable dl dt a:hover, .post-476787 .timetable dl dt a:hover {
	text-decoration: underline;
}

.post-460743 .timetable dl dd, .post-476787 .timetable dl dd {
	padding-left: 0;
}

.post-460743 .timetable dl dd.speaker-name:before, .post-476787 .timetable dl dd.speaker-name:before {
	font-family: 'Genericons';
	display: inline-block;
	vertical-align: middle;
	font-size: 17px;
	content: '\f304';
}

.post-460743 .timetable dl dd.hr-line, .post-476787 .timetable dl dd.hr-line {
	border-bottom: 1px solid #DDD;
	margin-bottom: 10px;
}

.post-460743 .timetable dl dd.tt-beginner, .post-476787 .timetable dl dd.tt-beginner {
	border-left: 3px solid #72b6ce;
	display: inline-block;
	padding: 2px 7px;
	font-size: 12px;
	margin-bottom: 10px;
	background-color: #f9f9f9;
}

.post-460743 .timetable dl dd.tt-beginner:before, .post-476787 .timetable dl dd.tt-beginner:before {
	font-family: 'Genericons';
	display: inline-block;
	vertical-align: middle;
	font-size: 15px;
	content: '\f461';
}

.post-460743 .timetable dl dd a, .post-476787 .timetable dl dd a {
	text-decoration: none;
}

.post-460743 .timetable dl dd a:hover, .post-476787 .timetable dl dd a:hover {
	text-decoration: underline;
}

.post-460743 .timetable span, .post-476787 .timetable span {
	display: block;
	background: #ffeca2;
	font-size: 10px;
	padding: 2px 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

@media (max-width: 643px) {
	.post-460743 .timetable thead, .post-476787 .timetable thead {
		display: none;
	}
	
	.post-460743 .timetable .none, .post-476787 .timetable .none {
		display: none;
	}
	
	.post-460743 .timetable tbody th, .post-460743 .timetable tbody td, .post-476787 .timetable tbody th, .post-476787 .timetable tbody td {
		margin-bottom: 10px;
	}
	
	.post-460743 .timetable tbody th, .post-476787 .timetable tbody th {
		border-bottom: 1px solid #c0c0c0;
		border-bottom: 0;
		padding: 10px 0;
	}
	
	.post-460743 .timetable tbody td, .post-476787 .timetable tbody td {
		border: 0;
		border-left: 3px solid #ffeca2;
		margin-bottom: 20px;
	}
	
	.post-460743 .timetable tbody dl dt.time, .post-460743 .timetable tbody dl dd.time, .post-476787 .timetable tbody dl dt.time, .post-476787 .timetable tbody dl dd.time {
		display: block;
		padding-bottom: 10px;
	}
	
	.post-460743 .timetable tbody dl dt.time:before, .post-460743 .timetable tbody dl dd.time:before, .post-476787 .timetable tbody dl dt.time:before, .post-476787 .timetable tbody dl dd.time:before {
		font-family: 'Genericons';
		display: inline-block;
		vertical-align: middle;
		font-size: 17px;
		content: '\f417';
	}
}

.post-460743 .timetable.contributor-table, .post-476787 .timetable.contributor-table {
	width: 60%;
	margin: 0 auto 50px;
}

@media (max-width: 643px) {
	.post-460743 .timetable.contributor-table, .post-476787 .timetable.contributor-table {
		width: 100%;
	}
}

.post-460743 .attention-list, .post-476787 .attention-list {
	padding-left: 0;
	list-style: none;
	color: #f64519;
}

.post-460743 .contributor-more-info, .post-476787 .contributor-more-info {
	padding: 15px;
	border: 1px solid #ffeca2;
}

.type-wcb_session .block-left, .type-wcb_session .block-right {
	width: 48%;
}

@media (max-width: 643px) {
	.type-wcb_session .block-left, .type-wcb_session .block-right {
		width: 100%;
		float: none;
	}
}

.type-wcb_session .beginner p {
	border-left: 3px solid #72b6ce;
	display: inline-block;
	padding: 3px 10px;
	background-color: #f9f9f9;
}

.type-wcb_session .beginner p:before {
	font-family: 'Genericons';
	display: inline-block;
	vertical-align: middle;
	font-size: 17px;
	content: '\f461';
}

.type-wcb_session h2, .type-wcb_session h3 {
	font-size: 14px;
	font-weight: normal;
	color: #17af92;
	border-bottom: 1px solid #7eb4cc;
	margin-bottom: 5px;
}

.type-wcb_session h3:before {
	font-family: 'Genericons';
	display: inline-block;
	vertical-align: middle;
	font-size: 17px;
}

.type-wcb_session h3.session-place:before {
	content: '\f417';
}

.type-wcb_session h3.session-time:before {
	content: '\f303';
}

.type-wcb_session .block-right h3 {
	margin-bottom: 10px;
}

.type-wcb_session .profile-box {
	width: 100%;
	display: table;
}

.type-wcb_session .thumb, .type-wcb_session .inner {
	display: table-cell;
	vertical-align: middle;
	margin-bottom: 0;
}

.type-wcb_session .thumb {
	width: 120px;
}

.type-wcb_session .inner h4 {
	margin-bottom: 10px;
	color: #000;
}

.type-wcb_session .inner .more {
	margin-bottom: 0;
}

.type-wcb_session .inner .more a {
	text-decoration: none;
	border: 1px solid #357599;
	color: #357599;
	padding: 5px;
}

.entry-content form .bank-more-box {
	margin-bottom: 30px;
	padding-left: 10px;
	border-left: 3px solid #72b6ce;
}

.entry-content form .bank-more-title {
	padding: 0;
}

.entry-content form .bank-more-checkbox-att {
	padding: 0;
	margin-top: -10px;
	color: #c00;
}

/*-------------------------------------*/
/* SPEAKER */
/*-------------------------------------*/
.wcorg-speakers .wcorg-speaker {
	position: relative;
	margin-bottom: 60px;
}

.wcorg-speakers .wcorg-speaker:last-of-type {
	margin-bottom: 0;
}

.wcorg-speakers .wcorg-speaker .avatar {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
}

.wcorg-speakers h2, .wcorg-speakers .speaker-info {
	padding-left: 113px;
}

.wcorg-speakers h2 {
	border-bottom: none;
	color: #000;
	padding-bottom: 0;
	margin-bottom: 15px;
}

.wcorg-speakers .speaker-info {
	min-height: 70px;
}

.wcorg-speakers .speaker-info .inblock-list {
	margin-bottom: 0;
}

.wcorg-speakers .speaker-info .inblock-list li {
	margin-right: 10px;
}

.wcorg-speakers .speaker-info .inblock-list a {
	color: #FFF;
	display: block;
	line-height: normal;
}

.wcorg-speakers .speaker-info .inblock-list a span {
	width: auto;
	height: auto;
	vertical-align: top;
}

.wcorg-speakers .speaker-info .inblock-list a span:before {
	font-size: 18px;
}

.wcorg-speakers .speaker-info .twitter a {
	background: #00B1CE;
	padding: 2px;
}

.wcorg-speakers .speaker-info .facebook a {
	color: #103F77;
}

.wcorg-speakers .speaker-info .facebook a span:before {
	font-size: 27px;
}

.wcorg-speakers .speaker-more section {
	width: 100%;
	display: table;
	padding-bottom: 30px;
}

@media (max-width: 643px) {
	.wcorg-speakers .speaker-more section {
		display: block;
	}
}

.wcorg-speakers .speaker-more .session-title {
	color: #333;
	font-weight: bold;
}

.wcorg-speakers .speaker-more ul {
	color: #666;
}

.wcorg-speakers .speaker-more ul li {
	margin-right: 20px;
}

.wcorg-speakers .speaker-more ul li:last-of-type {
	margin-right: 0;
}

.wcorg-speakers .speaker-more ul li:before {
	font-family: 'Genericons';
	display: inline-block;
	font-size: 20px;
	vertical-align: bottom;
}

.wcorg-speakers .speaker-more ul li.place:before {
	content: '\f417';
}

.wcorg-speakers .speaker-more ul li.time:before {
	content: '\f303';
}

.wcorg-speakers .speaker-more h3, .wcorg-speakers .speaker-more .inner {
	display: table-cell;
	vertical-align: middle;
}

@media (max-width: 643px) {
	.wcorg-speakers .speaker-more h3, .wcorg-speakers .speaker-more .inner {
		display: block;
	}
}

.wcorg-speakers .speaker-more h3 {
	width: 9em;
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
	border-right: 2px solid #72b6ce;
	text-align: center;
	color: #17af92;
	font-size: 13px;
}

.wcorg-speakers .speaker-more h3 span {
	display: block;
}

@media (max-width: 643px) {
	.wcorg-speakers .speaker-more h3 span {
		display: inline;
	}
}

@media (max-width: 643px) {
	.wcorg-speakers .speaker-more h3 {
		width: auto;
		text-align: left;
		margin-bottom: 10px;
		padding-left: 10px;
		border-left: 2px solid #72b6ce;
		border-right: none;
	}
}

.wcorg-speakers .speaker-more .inner {
	padding-left: 20px;
	margin-bottom: 0;
}

.wcorg-speakers .speaker-more .inner p, .wcorg-speakers .speaker-more .inner ul {
	margin-bottom: 0;
}

@media (max-width: 643px) {
	.wcorg-speakers .speaker-more .inner {
		padding-left: 0;
	}
}

#post-476476 .entry-header, #post-478151 .entry-header {
	display: none;
}

#post-476476 ul {
	list-style: none;
	padding-left: 0;
}

@media (max-width: 643px) {
	#post-476476 ul li {
		width: auto !important;
		float: none !important;
		margin-right: 0 !important;
	}
}

#post-478151 {
	display: none;
}

@media (max-width: 643px) {
	#post-478151 {
		display: block;
	}
}

#post-478151 div {
	margin-bottom: 0;
}

/*-------------------------------------*/
/* RELAYBLOG */
/*-------------------------------------*/
.post-476754 .plus {
	font-size: 26px;
}

.post-476754 .point {
	color: #f64519;
	font-size: 18px;
}

.post-476754 .relay-title {
	font-size: 24px;
	border-bottom: none;
	padding-bottom: 0;
}

.post-476754 .relay {
	table-layout: fixed;
	border-bottom: none;
}

.post-476754 .relay td {
	border: 6px solid #FFF;
	padding: 10px;
	background: #17af92;
	color: #FFF;
	vertical-align: top;
}

@media (max-width: 767px) {
	.post-476754 .relay td {
		display: block;
		padding: 0;
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: 6px solid #FFF;
	}
	
	.post-476754 .relay td.null {
		display: none;
	}
}

.post-476754 .relay td.none {
	background: #F1EFEA;
}

.post-476754 .relay td.none i {
	color: #17af92;
}

@media (max-width: 767px) {
	.post-476754 .relay td.none i {
		display: block;
		float: none;
	}
}

@media (max-width: 767px) {
	.post-476754 .relay td.none {
		padding: 10px 0;
	}
}

@media (max-width: 767px) {
	.post-476754 .relay td .relay-box {
		display: table;
		width: 100%;
		background: #F1EFEA;
	}
}

.post-476754 .relay td i {
	display: block;
	float: left;
	margin-right: 10px;
	font-style: normal;
	font-size: 28px;
}

@media (max-width: 767px) {
	.post-476754 .relay td i {
		width: 80px;
		color: #17af92;
		margin-right: 0;
		text-align: center;
		vertical-align: middle;
	}
}

.post-476754 .relay td .relay-box, .post-476754 .relay td .inner {
	margin-bottom: 0;
}

@media (max-width: 767px) {
	.post-476754 .relay td i, .post-476754 .relay td .inner {
		display: table-cell;
	}
}

@media (max-width: 767px) {
	.post-476754 .relay td .inner {
		width: 87%;
		background: #17af92;
		padding: 10px;
		vertical-align: top;
	}
}

.post-476754 .relay td .thumb {
	float: right;
	margin-bottom: 0;
}

.post-476754 .relay td .thumb img {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	border: 3px solid #FFF;
}

@media (max-width: 767px) {
	.post-476754 .relay td .thumb {
		float: left;
		margin-right: 20px;
	}
}

.post-476754 .relay td p {
	margin-bottom: 5px;
}

.post-476754 .relay td p.name {
	clear: both;
}

@media (max-width: 767px) {
	.post-476754 .relay td p.name {
		clear: none;
	}
}

.post-476754 .relay td p.twitter span {
	display: inline-block;
	margin-right: 10px;
}

.post-476754 .relay td p.twitter span:before {
	background: #00B1CE;
	padding: 2px;
}

.post-476754 .relay td p.title {
	margin-bottom: 0;
}

@media (max-width: 767px) {
	.post-476754 .relay td p.title {
		clear: both;
		padding-top: 10px;
	}
}

.post-476754 .relay td a {
	text-decoration: underline;
	color: #FFF;
}

.post-476754 .relay td a:hover {
	text-decoration: underline;
}

/*-------------------------------------*/
/* TICKETS */
/*-------------------------------------*/
.tix-row-coupon {
	display: none;
}

.logged-in .tix-row-coupon {
	display: table-row;
}

#post-7 div {
	margin-bottom: 0;
}

#post-7 .register-head {
	margin-bottom: 55px;
}

@media (max-width: 643px) {
	#post-7 .register-head {
		margin-bottom: 20px;
	}
}

#post-7 .ticket-title {
	border-bottom: none;
	border-left: 4px solid #17af92;
	margin-top: 0;
	margin-bottom: 20px;
	font-weight: normal;
	padding-left: 15px;
	padding-bottom: 0;
}

#post-7 .ticket-purchasing-method {
	margin-bottom: 0;
	padding-bottom: 60px;
}

@media (max-width: 643px) {
	#post-7 .ticket-purchasing-method {
		padding-bottom: 30px;
	}
}

#post-7 .ticket-purchasing-method .purchase-head {
	text-align: center;
	padding: 12px 0;
}

#post-7 .ticket-purchasing-method .purchase-head h3 {
	margin-bottom: 5px;
	padding-bottom: 0;
	border-bottom: none;
	font-size: 16px;
}

#post-7 .ticket-purchasing-method .purchase-head p {
	margin-bottom: 0;
	display: inline-block;
	color: #FFF;
	font-size: 14px;
	padding: 2px 5px;
}

#post-7 .ticket-purchasing-method .purchase-main {
	padding: 10px;
}

#post-7 .ticket-purchasing-method .purchase-main p, #post-7 .ticket-purchasing-method .purchase-main ul {
	margin-bottom: 0;
}

#post-7 .ticket-purchasing-method .purchase-box {
	width: 49%;
	min-height: 220px;
	border-width: 2px;
	border-style: solid;
}

@media (max-width: 643px) {
	#post-7 .ticket-purchasing-method .purchase-box {
		min-height: 0;
	}
}

#post-7 .ticket-purchasing-method .purchase-box.paypal {
	border-color: #EBB09E;
	float: left;
}

@media (max-width: 643px) {
	#post-7 .ticket-purchasing-method .purchase-box.paypal {
		margin-bottom: 20px;
	}
}

#post-7 .ticket-purchasing-method .purchase-box.paypal .purchase-head {
	background: #F7DBD2;
}

#post-7 .ticket-purchasing-method .purchase-box.paypal .purchase-head h3 {
	color: #d8603d;
}

#post-7 .ticket-purchasing-method .purchase-box.paypal .purchase-head p {
	background: #d8603d;
}

#post-7 .ticket-purchasing-method .purchase-box.bank {
	border-color: #ADC59A;
	float: right;
}

#post-7 .ticket-purchasing-method .purchase-box.bank .purchase-head {
	background: #E3EDD9;
}

#post-7 .ticket-purchasing-method .purchase-box.bank .purchase-head h3 {
	color: #5b8c36;
}

#post-7 .ticket-purchasing-method .purchase-box.bank .purchase-head p {
	background: #5b8c36;
}

#post-7 .ticket-purchasing-method .purchase-box.bank .purchase-main p {
	margin-left: 25%;
	margin-top: 10px;
}

@media (max-width: 643px) {
	#post-7 .ticket-purchasing-method .purchase-box.bank .purchase-main p {
		margin: 0;
	}
}

@media (max-width: 643px) {
	#post-7 .ticket-purchasing-method .purchase-box {
		width: auto;
		float: none !important;
	}
}

#post-7 .register-form-area {
	margin: 0 44px;
}

@media (max-width: 643px) {
	#post-7 .register-form-area {
		margin: 0;
	}
}

#post-7 .register-form-area h2 {
	padding-left: 0;
	border-left: none;
	margin-bottom: 10px;
}

#post-7 .register-form-area .register-box {
	border-bottom: 1px solid #999;
	margin-bottom: 45px;
	padding-bottom: 45px;
}

@media (max-width: 643px) {
	#post-7 .register-form-area .register-box {
		margin-bottom: 30px;
		padding-bottom: 30px;
	}
}

#post-7 .register-form-area .paypal h2 {
	color: #d8603d;
}

#post-7 .register-form-area .bank h2 {
	color: #5b8c36;
	margin-bottom: 15px;
}

#post-7 .register-form-area .bank .bank-btn {
	font-size: 16px;
}

#post-7 .register-form-area .bank .bank-btn a {
	min-width: 300px;
	background: #5b8c36;
	padding: 10px 0;
}

@media (max-width: 643px) {
	#post-7 .register-form-area .bank .bank-btn a {
		min-width: 0;
		padding: 10px;
	}
}

#post-7 #tix {
	padding-top: 0;
}

#post-7 #tix table {
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

#post-7 #tix table th {
	text-transform: none;
}

#post-7 #tix table.tix-order-summary, #post-7 #tix table.tix-attendee-form {
	border-top: none;
}

@media (max-width: 767px) {
	#post-7 #tix table.tix-attendee-form td {
		display: block;
		width: auto;
	}
	
	#post-7 #tix table.tix-attendee-form td.tix-left {
		background: #EEE;
		padding: 5px 10px;
	}
	
	#post-7 #tix table.tix-attendee-form td.tix-right {
		padding: 10px 0 30px 10px;
	}
}

#post-7 #tix table tr.tix-row-question-374589 .tix-left:after {
	content: "A※100名予定、席を確保するものではありません";
	white-space: pre;
	font-size: 12px;
}

#post-7 #tix #tix-registration-information {
	border-bottom: none;
}

#post-7 #tix #tix-registration-information:after {
	content: "*は必須項目ですA名前、苗字はニックネーム可A名前、苗字、Twitterアカウント、サイトURLは参加者一覧ページで公開されます";
	white-space: pre;
	display: block;
	font-size: 14px;
	color: #000;
	border-top: 2px solid #ffeca2;
	padding-top: 20px;
	font-weight: normal;
	margin-top: 5px;
}

#post-7 #tix .tix-has-dynamic-receipts .tix-submit:before {
	content: "「チェックアウト」を押すとPayPalのサイトへリンクしますAPayPalアカウントで支払い、クレジットカードで払いを選択してください";
	white-space: pre;
	display: block;
	color: #D00;
	text-align: center;
	margin-bottom: 20px;
}

#post-7 #tix p {
	text-align: center;
	margin-bottom: 0;
}

#post-7 #tix p input[type="submit"] {
	min-width: 300px;
	float: none !important;
	border-bottom: none;
	background: #D94B20;
	font-size: 18px;
	padding: 10px 0;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-duration: .2s;
	-moz-transition-duration: .2s;
	-o-transition-duration: .2s;
	transition-duration: .2s;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-timing-function: ease-in-out;
	-o-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

@media (max-width: 643px) {
	#post-7 #tix p input[type="submit"] {
		min-width: 0;
		padding: 10px;
	}
}

#post-7 #tix p input[type="submit"]:active {
	border-top: none;
}

#post-7 #tix p input[type="submit"]:hover {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity: .7;
}

#post-7 #tix .tix-order-summary tbody .tix-column-description {
	background: #EEE;
}

#post-7 .register-box #tix p:after {
	content: '※価格表記の「￥2,000.00」は、「2000円」です。';
	display: block;
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
}

/*-------------------------------------*/
/* BANK */
/*-------------------------------------*/
.post-362090 .attendees {
	color: #BE3333;
}

.post-362090 .tix-row-coupon {
	display: none;
}

.logged-in .post-362090 .tix-row-coupon {
	display: table-row;
}

.post-362090 .attention {
	border: 1px solid #AAA;
	display: inline-block;
	padding: 10px;
}

.post-362090 .attention p {
	margin-bottom: 0;
}

.post-362090 button,
.post-362090 input[type="submit"],
.post-362090 input[type="button"],
.post-362090 input[type="reset"] {
	background: #17af92;
	border-bottom: 3px solid #AA2F1B;
}

.post-362090 button:hover,
.post-362090 button:focus,
.post-362090 input[type="submit"]:hover,
.post-362090 input[type="button"]:hover,
.post-362090 input[type="reset"]:hover,
.post-362090 input[type="submit"]:focus,
.post-362090 input[type="button"]:focus,
.post-362090 input[type="reset"]:focus {
	background: #17af92;
}

.post-362090 button:active,
.post-362090 input[type="submit"]:active,
.post-362090 input[type="button"]:active,
.post-362090 input[type="reset"]:active {
	background: #fff;
	border-top: 3px solid #17af92;
	border-bottom: none;
	color: #17af92;
}

.post-362090 th {
	text-transform: none;
}

.post-362090 p.contact-submit {
	text-align: center;
}

.post-362090 p.contact-submit input[type="submit"] {
	min-width: 300px;
	float: none !important;
	border-bottom: none;
	background: #6c8d35;
	font-size: 18px;
	padding: 10px 0;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-duration: .2s;
	-moz-transition-duration: .2s;
	-o-transition-duration: .2s;
	transition-duration: .2s;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-timing-function: ease-in-out;
	-o-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}
